/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MY PROJECT */

.container {
    max-height: 100vh;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: "logo";
    src: url("fonts/norse-bold-webfont.woff2") format("woff2"), 
    url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "description";
    src: url("fonts/margita-regular-webfont.woff2") format("woff2"), 
    url("fonts/margita-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "form";
    src: url("fonts/kiona-regular-webfont.woff2") format("woff2"), 
    url("fonts/kiona-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #ffffff;
    font: 9vh "logo";
    display: flex;
}

h2 {
    color: #ffffff;
    font: 3vh "logo";
}

p {
    font: 1em "description";
}

/* SIDE BANNER */

.side-banner {
    position: relative;
}

.ice-cream {
    max-height: 100vh;
}

.odin-banner {
    position: absolute;
    width: 100%;
    top: 10%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-logo {
    height: 20vh;
}

.credits {
    position: relative;
    font-size: 1vh;
    display: flex;
    justify-content: center;
    bottom: 3%;
    color: #ffffff;
}

/* FORM */

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description {
    background-color: rgba(0,0,0,0.04);
    flex-grow: 1;
    /* padding: 6em 2em 2em 2em; */
}

form {
    font: 0.8em "form";
    flex-grow: 1;
    /* padding: 2em; */
}

.first-name,
.last-name,
.email,
.phone-number,
.password,
.confirm {
    display: flex;
    flex-direction: column;
}

.first-row,
.second-row,
.third-row {
    font-weight: bold;
    display: flex;
    /* gap: 4em;
    margin-bottom: 1em; */
}

input {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 0.2em;
    outline: none;
}

input:focus {
    border: 1px solid #0000CD;
}

input[type="password"] {
    border-color: #D22B2B;
}

.account {
    background-color: rgba(0,0,0,0.04);
    flex-grow: 1;
    /* padding: 2em 5em 10em 2em; */
}

button {
    font: 0.8em "form";
    font-weight: bold;
    color: #ffffff;
    background-color: #873600;
    padding: 1em 4em;
    /* margin-bottom: 1em; */
}