.container {
    display: flex;
}

@font-face {
    font-family: "logo";
    src: url("fonts/norse-bold-webfont.woff2") format("woff2"), url("fonts/norse-bold-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "description";
    src: url("fonts/margita-regular-webfont.woff2") format("woff2"), url("fonts/margita-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "form";
    src: url("fonts/kiona-regular-webfont.woff2") format("woff2"), url("fonts/kiona-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

h1 {
    color: #ffffff;
    font: 4em "logo";
    display: flex;
}

h2 {
    color: #ffffff;
    font: 1.5em "logo";
}

p {
    font: 1em "description";
}

/* SIDE BANNER */

.side-banner {
    position: relative;
}

.ice-cream {
    width: 25em;
}

.odin-banner {
    position: absolute;
    width: 25em;
    top: 3em;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-logo {
    height: 7em;
}

.credits {
    position: absolute;
    bottom: 0em;
    font-size: 0.6em;
    color: #ffffff;
    left: 12.5em;
}

/* FORM */

.form-container {
    display: flex;
    flex-direction: column;
}

.description {
    background-color: rgba(0,0,0,0.04);
    padding: 6em 2em 2em 2em;
}

form {
    font: 0.8em "form";
    padding: 2em;
}

.first-name,
.last-name,
.email,
.phone-number,
.password,
.confirm {
    display: flex;
    flex-direction: column;
}

.first-row,
.second-row,
.third-row {
    font-weight: bold;
    display: flex;
    gap: 4em;
    margin-bottom: 1em;
}

.account {
    background-color: rgba(0,0,0,0.04);
    padding: 2em 5em 8.8em 2em;
}

button {
    font: 0.8em "form";
    font-weight: bold;
    color: #ffffff;
    background-color: #A0491E; /* B18775 */
    padding: 1em 4em;
    margin-bottom: 1em;
}